
<div class="header">
  <h1 class="headerText">Welcome!</h1>
</div>

<div class="div">
  <p>Please register or login on the buttons below: </p>

  <ng-template [ngIf]= "!isUserLoggedIn()">
    <button  class="button1"><a routerLink="/registation">Registation</a></button>
  </ng-template>

  <br>
  <br>

  <ng-template [ngIf]= "!isUserLoggedIn()">
    <button class="button1"><a routerLink="/login">Login</a></button>
  </ng-template>

  <ng-template [ngIf]=" isUserPhysician()">
    <button><a [routerLink]="['/HomepagePhysician']">Homepage for Doctor </a></button>
  </ng-template>

  <ng-template [ngIf]=" isUserNurse()">
    <button><a [routerLink]="['/HomepageNurse']">Homepage for Nurse </a></button>
  </ng-template>

  <ng-template [ngIf]=" isUserPatient()">
    <button><a [routerLink]="['/HomepagePatient']">Homepage for Patient</a></button>
  </ng-template>

  <ng-template [ngIf]=" isUserClinicA()">
    <button><a [routerLink]="['/HomepageCCA']">Homepage for Clinical Center Administrator</a></button>
  </ng-template>

  <ng-template [ngIf]=" isUserClinicalCenterA()">
    <button><a [routerLink]="['/HomepageCA']">Homepage for Clinic Administartor</a></button>
  </ng-template>
</div>

<div>
  <img class="imageLogo" src="assets/ico - Copy.png" alt="logo">
  <h2 class="imageLogo">Clinical center</h2>
</div>

<router-outlet></router-outlet>
